
.merch-page {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.MerchItem {
  width: 400px;
  height: 350px;
  /* background-color: #D8D8D8; */
  border-radius: 30px;
  padding: 8px;
  margin: 36px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* flex-wrap: wrap; */
  /* vertical-align: middle; */
}

.merch-array li {
  display: inline;
  float: left;
}

.photo {
  width: 333px;
  height: 319px;
}

.ItemName {
  font: Lato;
  font-size: 1.5rem;
  text-align: center;
}

.ItemPrice {
  font: Lato;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
}
